@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

:root {
  font-size: 62.5%;
  /* Primary */
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan: #25564b;
  --Dark-blue: hsl(198, 62%, 26%);
  --Dark-moderate-cyan: #458c7e;
  /* 
### Neutral */

  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}
html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-family: "Barlow", sans-serif;
}
img {
  width: 100%;
  display: block;
}
a,
a:visited,
a:active {
  text-decoration: none;
  display: inline-block;
}
h1,
h2 {
  margin-top: 0;
  font-family: "Fraunces", serif;
  font-weight: 900;
}
p {
  margin: 0;
}
li {
  list-style: none;
  padding: 0;
}

header {
  background-image: url("../images/mobile/image-header.jpg");
  padding: 1em 0 10em 0;
  background-position: bottom;
  background-size: cover;
  background-repeat: repeat-y;
  position: relative;
}
header h1 {
  color: var(--White);
  padding: 2.5em 0;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 4rem;
}
.logo {
  width: 130px;
}
.hamburger__menu {
}
.arrow__down-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.arrow__down-wrapper img {
  width: 3.5rem;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
}

.main__transform,
.main__stand-out {
  padding: 2.5em 0;
  text-align: center;
}
.main__transform h2,
.main__stand-out h2 {
  font-size: 3.6rem;
  color: var(--Very-dark-desaturated-blue);
}
.main__transform p,
.main__stand-out p {
  color: var(--Dark-grayish-blue);
  margin-bottom: 1em;
  font-size: 2.1rem;
}
.main__transform a,
.main__stand-out a {
  color: var(--Very-dark-desaturated-blue);
  font-size: 1.8rem;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-weight: 900;
}
.design__photography {
}

.great__design {
  position: relative;
}
.great__design-text {
  top: 35rem;
  position: absolute;
  z-index: 1;
  color: var(--Dark-desaturated-cyan);
  text-align: center;
  padding: 0 1.5em;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.great__design h2,
.photography__text h2 {
  font-size: 3.5rem;
}
.great__design-text p {
  line-height: 1.4;
  font-size: 2.1rem;
}
.photography {
  position: relative;
}
.photography img {
  margin: 0;
}
.photography__text {
  color: var(--Dark-desaturated-cyan);
  text-align: center;
  padding: 0 1.5em;
}
.photography__text {
  position: absolute;
  top: 35rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.testimonials {
  text-align: center;
}
.profile__img {
  width: 9rem;
  margin: 0 auto;
  padding: 0 0 1em 0;
}
.profile__img img {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.client__testimonials {
  line-height: 1.5;
  padding: 2em 0;
}
.client__testimony {
  color: var(--Very-dark-grayish-blue);
}
.client__name {
  color: var(--Very-dark-desaturated-blue);
  font-family: "Fraunces", serif;
  padding: 1em 0 0.5em 0;
}
.client__job {
  color: var(--Grayish-blue);
  font-size: 1.4rem;
}
.testimonials h2 {
  color: var(--Grayish-blue);
  padding: 2.5em 0;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0.2em;
}
.img__gallery img {
  line-height: 0;
  flex-shrink: 1;
  margin: 0;
  padding: 0;
}
.img__gallery {
  display: flex;

}
footer{
  background-color: #87dbc7;
  padding: 2em 0;
}
.footer__logo{
  width: 15rem;
  margin: 0 auto;
}
.footer__nav{
  color: var(--Dark-desaturated-cyan);

  
}
.footer__link-item{
  
  
}
.social__media-links li a img{
  width: 2.5rem;
}
.social__media-links{
    display: flex;
    justify-content:space-evenly ;
    margin: 0 auto;
    width: 60%;
}
.social__media-links li{
  flex-grow: 1;
}
@media (min-width: 560px) {
  header {
    background-image: url("../images/desktop/image-header.jpg");
  }
}
